/* Less garish background colors to let that highlighting shine through! */
.blob-code-addition, .blob-num-addition {
  background-color: #efe !important;
}
.blob-code-deletion, .blob-num-deletion {
  background-color: #fee !important;
}

.github-syntax-loading {
  display: block;
  float: left;
  margin-right: 10px;
}

.github-syntax-error {
  color: red;
}
